.gitattributes  text eol=lf
Dockerfile      text eol=lf
*.bash          text eol=lf
*.fish          text eol=lf
*.ksh           text eol=lf
*.sh            text eol=lf
*.zsh           text eol=lf
*.md            text eol=lf
*.yml           text eol=lf